<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <section class="col-xs-12 col-md-6 left">
          <!-- Brand/Logo -->
          <div class="row">
            <div class="col-xs-2 col-md-2"><a href="#" class="btn btn-clear">Login</a></div>
            <div class="col-xs-2 col-md-2"><a href="#" class="btn btn-clear">Signup</a></div>
            <div class="col-xs-2 col-md-2">
              <a href="#" id="logo">#Subscr</a>
            </div>
          </div>
          <div class="row brand">

          </div>

          <!-- Feature text-->
          <div class="row feature-text">
            <div class="col-xs-12">
              <p>Double-click to remove tags</p>
            </div>
          </div>

          <!-- subscription -->
          <div class="row search">
            <div class="col-xs-12">
              <input type="text" name="search" id="subscr" placeholder="subscribe"/>
            </div>
          </div>

          <!-- subscription tags -->
          <div class="row">
            <div class="col-xs-12 sub-tags">
              <span class="hashtag">mac</span>
              <span class="hashtag">iphone</span>
              <span class="hashtag">gaza</span>
              <span class="hashtag">mac</span>
              <span class="hashtag">iphone</span>
              <span class="hashtag">gaza</span>
            </div>
          </div>

          <!-- popular tags -->
          <div class="row popular-tags">
            <div class="col-xs-12">
              <h4>Popular tags</h4>
            </div>
            <div class="col-xs-12">
              <span><a href="#">MH17</a></span>
            </div>
            <div class="col-xs-12">
              <span><a href="#">WorldCup2014</a></span>
            </div>
            <div class="col-xs-12">
              <span><a href="#">MH17</a></span>
            </div>
            <div class="col-xs-12">
              <span><a href="#">WorldCup2014</a></span>
            </div>
            <div class="col-xs-12">
              <span><a href="#">MH17</a></span>
            </div>
            <div class="col-xs-12">
              <span><a href="#">WorldCup2014</a></span>
            </div>
          </div>
        </section>
        <section class="col-xs-12 col-md-6">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <a href="#" class="btn btn-clear pull-right">Submit</a>
            </div>
          </div>

          <div class="container-fluid content">
            <div class="row link">
              <div class="col-md-12">
                <a href="#" id="source">sitepoint</a>
              </div>
              <div class="col-md-12">
                <a href="#" class="title">Media Queries: A Look at Different Media Features</a>
                <div class="tags">
                  <span><a href="">#CSS3</a></span>
                  <span><a href="">#MediaQueries</a></span>
                  <span><a href="">#HTML5</a></span>
                  <span><a href="">#RPD</a></span>
                  <span><a href="">#Mobile</a></span>
                </div>
              </div>
            <div class="col-md-12 icons">
                <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-tag"></span></a></div>
                <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-trash"></span></a></div>
                <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-edit"></span></a></div>
                <div class="col-xs-1 col-md-3 pull-right"><small>August 5, 2014</small></div>
            </div>
            </div>

            <div class="row link">
              <div class="col-md-12">
                <a href="#" id="source">sitepoint</a>
              </div>
              <div class="col-md-12">
                <a href="#" class="title">Media Queries: A Look at Different Media Features</a>
                <div class="tags">
                  <span><a href="">#CSS3</a></span>
                  <span><a href="">#MediaQueries</a></span>
                  <span><a href="">#HTML5</a></span>
                  <span><a href="">#RPD</a></span>
                  <span><a href="">#Mobile</a></span>
                </div>
              </div>
              <div class="col-md-12 icons">
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-tag"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-trash"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-edit"></span></a></div>
                  <div class="col-xs-1 col-md-3 pull-right"><small>August 5, 2014</small></div>
              </div>
            </div>

            <div class="row link">
              <div class="col-md-12">
                <a href="#" id="source">sitepoint</a>
              </div>
              <div class="col-md-12">
                <a href="#" class="title">Media Queries: A Look at Different Media Features</a>
                <div class="tags">
                  <span><a href="">#CSS3</a></span>
                  <span><a href="">#MediaQueries</a></span>
                  <span><a href="">#HTML5</a></span>
                  <span><a href="">#RPD</a></span>
                  <span><a href="">#Mobile</a></span>
                </div>
              </div>
              <div class="col-md-12 icons">
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-tag"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-trash"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-edit"></span></a></div>
                  <div class="col-xs-1 col-md-3 pull-right"><small>August 5, 2014</small></div>
              </div>
            </div>

            <div class="row link">
              <div class="col-md-12">
                <a href="#" id="source">sitepoint</a>
              </div>
              <div class="col-md-12">
                <a href="#" class="title">Media Queries: A Look at Different Media Features</a>
                <div class="tags">
                  <span><a href="">#CSS3</a></span>
                  <span><a href="">#MediaQueries</a></span>
                  <span><a href="">#HTML5</a></span>
                  <span><a href="">#RPD</a></span>
                  <span><a href="">#Mobile</a></span>
                </div>
              </div>
              <div class="col-md-12 icons">
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-tag"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-trash"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-edit"></span></a></div>
                  <div class="col-xs-1 col-md-3 pull-right"><small>August 5, 2014</small></div>
              </div>
            </div>

            <div class="row link">
              <div class="col-md-12">
                <a href="#" id="source">sitepoint</a>
              </div>
              <div class="col-md-12">
                <a href="#" class="title">Media Queries: A Look at Different Media Features</a>
                <div class="tags">
                  <span><a href="">#CSS3</a></span>
                  <span><a href="">#MediaQueries</a></span>
                  <span><a href="">#HTML5</a></span>
                  <span><a href="">#RPD</a></span>
                  <span><a href="">#Mobile</a></span>
                </div>
              </div>
              <div class="col-md-12 icons">
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-thumbs-up"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-tag"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-trash"></span></a></div>
                  <div class="col-xs-1 col-md-1"><a href=""><span class="glyphicon glyphicon-edit"></span></a></div>
                  <div class="col-xs-1 col-md-3 pull-right"><small>August 5, 2014</small></div>
              </div>
            </div>
          </div>

          <footer class="row">

          </footer>
        </section>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/js/collapse.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>
